<app-loadmask [active]="isLoading"></app-loadmask>
<div style="text-align: center;">
  <span><strong>UserId: </strong></span>
  <select [(ngModel)]="selectedItem">
    <option *ngFor="let user of userList">{{ user.id }}</option>
  </select>
  &nbsp;
  <button (click)="goToUserPost(selectedItem)"> GO!</button>
</div>
<br />

<ul *ngFor="let user of userList" (click)="goToUserPost(selectedItem)">
  <li class="pointer" *ngIf="selectedItem == user.id" style="text-align: center;">
    <div style="display:inline-block; text-align:left;">
      <br />
      <span><strong>Username: </strong> {{ user.username }}</span>
      <br />
      <span><strong>Name: </strong> {{ user.name }}</span>
      <br />
      <span><strong>Email: </strong> {{ user.email }}</span>
      <br />
      <span><strong>Phone: </strong> {{ user.phone }}</span>
      <br />
      <span><strong>Website: </strong> {{ user.website }}</span>
      <br />
      <br />
    </div>
  </li>
</ul>
