<app-loadmask [active]="isLoading"></app-loadmask>

<strong>Post and Comments</strong>
<div class="none-list-box">
  <div>
    <div *ngFor="let post of postList">
      <br />
      &nbsp;&nbsp;<strong>Post Title: </strong>
      &nbsp;<span> {{ post.title }}</span>
      &nbsp;&nbsp;<span>
        <br />
        &nbsp;&nbsp;<strong>Description: </strong> {{ post.body }} <br />
        <br />
      </span>
    </div>
  </div>
</div>

<ul>
  <li *ngFor="let comment of commentList">
    <br />
    &nbsp;&nbsp;<strong>Name: </strong> <span> {{ comment.name }} </span>
    <button (click)="deleteComment(comment.id)" style="float:right;"> <i class="material-icons">delete</i> </button>
    <br />
    &nbsp;&nbsp;<strong>Email: </strong><span> {{ comment.email }} </span> <br />
    &nbsp;&nbsp;<span>
      <strong>Detail: </strong> {{ comment.body }} <br />
      <br />
    </span>
  </li>
</ul>

<div class="none-list-box" style="margin-left: 4%;">
  <p>
    &nbsp;&nbsp;<strong>Comment</strong><br />
    &nbsp;&nbsp;<strong>Name: </strong><input type="text" value="test comment" #name />
    &nbsp;&nbsp;<strong>Email: </strong><input type="text" value="test@comment" #email />
    &nbsp;&nbsp;<strong>Detail: </strong><input type="text" value="this is test comment" #detail />
    &nbsp;&nbsp;<button (click)="addComment(name.value, email.value, detail.value)">Add comment</button>
  </p>
</div>
